body {
  background: url("https://media.giphy.com/media/l0K4aAjMMROnB6AOk/giphy.gif")
    no-repeat center fixed;
  background-size: cover;
  position: realtive;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.toggle-layer {
  background-color: rgba(12, 12, 12, 0.7);
}

/* Train Table */
table {
  font-family: "Open Sans", sans-serif;
  border-collapse: collapse;
  width: 65%;
  margin-top: 50px;
  margin-left: 60px;
  background-color: #fbfde0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.toggle-table {
  background-color: #333;
  color: white;
}

th {
  background-color: #fc6023;
}

.toggle-th {
  background-color: rebeccapurple;
}

.left-border {
  border-top-left-radius: 10px;
}

.right-border {
  border-top-right-radius: 10px;
}

td,
th {
  text-align: left;
  padding: 8px;
}

/* tr:nth-child(even) {
  background-color: #f7fcbc;
}

.toggle-tr:nth-child(even) {
  background-color: rgb(39, 38, 38);
} */

.tr-toggle {
  background-color: rgb(5, 5, 5);
}

.tr-original:hover {
  background-color: rgba(90, 67, 99, 0.315);
}

/* Ticket Form */
form {
  font-family: "VT323", monospace;
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  background: #fbfde0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-top: 8px #fc6023 solid;
  border-bottom: 8px #fc6023 solid;
}

.toggle-form {
  background: #333;
  border-top: 8px rebeccapurple solid;
  border-bottom: 8px rebeccapurple solid;
  color: white;
}

#formInput {
  padding: 8px;
}

.form-input {
  background-color: #f7facf;
  margin: 3px;
}

.toggle-form-input {
  background-color: rgb(36, 35, 35);
  color: white;
}

.add-train-btn {
  margin-top: 3px;
  font-family: "VT323", monospace;
  font-size: 18px;
  background-color: #f7facf;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-add-train-btn {
  background-color: rebeccapurple;
  border: 1px #333 solid;
}

.add-train-btn:active {
  color: #f5aa6d;
  background-color: #f5aa6d;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.toggle-add-train-btn:active {
  background-color: #684a31;
  color: #684a31;
}

.add-train-btn:focus {
  outline: none;
}

/* Day and Night Button */

.btn-wrapper-day-night {
  position: fixed;
  bottom: 60px;
  left: 200px;
  text-align: center;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 100px;
  margin: 20px;
  padding: 4px;
  border-radius: 40px;
  cursor: pointer;
}

.toggle:before,
.toggle:after {
  content: "";
  display: table;
}

.toggle:after {
  clear: both;
}

.toggle-bg {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 100%;
  height: 100%;
  background-color: #c0e6f6;
  border-radius: 40px;
  border: 4px solid #81c0d5;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.toggle-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  border-radius: 40px;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.toggle-switch {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 50px;
  background-color: #f5eb42;
  border: 4px solid #e4c74d;
  border-radius: 50%;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.toggle-switch-figure {
  position: absolute;
  bottom: -14px;
  left: -50px;
  display: block;
  width: 80px;
  height: 30px;
  border: 8px solid #d4d4d2;
  border-radius: 20px;
  background-color: #fff;
  transform: scale(0.4);
  transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.toggle-switch-figure:after {
  content: "";
  display: block;
  position: relative;
  top: -65px;
  right: -42px;
  width: 15px;
  height: 15px;
  border: 8px solid #d4d4d2;
  border-radius: 100%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ(70deg);
  background-color: #fff;
}

.toggle-switch-figure:before {
  content: "";
  display: block;
  position: relative;
  top: -25px;
  right: -10px;
  width: 30px;
  height: 30px;
  border: 8px solid #d4d4d2;
  border-radius: 100%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ(30deg);
  background-color: #fff;
}

.toggle-switch-figureAlt {
  content: "";
  position: absolute;
  top: 5px;
  left: 2px;
  width: 2px;
  height: 2px;
  background-color: #efeeda;
  border-radius: 100%;
  border: 4px solid #dee1c5;
  box-shadow: 42px -7px 0 -3px #fcfcfc, 75px -10px 0 -3px #fcfcfc,
    54px 4px 0 -4px #fcfcfc, 83px 7px 0 -2px #fcfcfc, 63px 18px 0 -4px #fcfcfc,
    44px 28px 0 -2px #fcfcfc, 78px 23px 0 -3px #fcfcfc;
  transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: scale(0);
}

.toggle-switch-figureAlt:before {
  content: "";
  position: absolute;
  top: -6px;
  left: 18px;
  width: 7px;
  height: 7px;
  background-color: #efeeda;
  border-radius: 100%;
  border: 4px solid #dee1c5;
}

.toggle-switch-figureAlt:after {
  content: "";
  position: absolute;
  top: 19px;
  left: 15px;
  width: 2px;
  height: 2px;
  background-color: #efeeda;
  border-radius: 100%;
  border: 4px solid #dee1c5;
}

.toggle-input:checked ~ .toggle-switch {
  margin-left: 0;
  border-color: #dee1c5;
  background-color: #fffdf2;
}

.toggle-input:checked ~ .toggle-bg {
  background-color: #484848;
  border-color: #202020;
}

.toggle-input:checked ~ .toggle-switch .toggle-switch-figure {
  margin-left: 40px;
  opacity: 0;
  transform: scale(0.1);
}

.toggle-input:checked ~ .toggle-switch .toggle-switch-figureAlt {
  transform: scale(1);
}
